body {
  background: lightskyblue;
}


.kartya {
  background: white;
  border-radius: 14px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.szakasz {
  margin-top: 18px;
}

.oldalcim {
  margin-bottom: 12px;
}

.bevezeto {
  font-size: 1.15rem;
}


.kapcsolat-lista {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.kapcsolat-lista li {
  margin-bottom: 10px;
  font-size: 1.05rem;
}

.doboz {
  border-radius: 12px;
  padding: 14px;
  margin: 14px 0;
}

.tipp-doboz {
  background: #f1fff4;
}

.fontos-doboz {
  background: #fff1f1;
}

.custom-navbar {
  background-color: #2c3e50;
  padding: 10px 20px;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}


.dropdown {
  position: relative;
}


.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}


.dropdown > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
}


.dropdown-list {
  list-style: none;
  position: absolute;
  top: 30px; /* volt 35px → kisebb rés */
  left: 0;
  background-color: white;
  border-radius: 6px;
  padding: 5px 0;
  margin: 0;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  display: none;
}


.dropdown-list li a {
  display: block;
  padding: 10px 20px;
  color: #2c3e50;
  text-decoration: none;
}

.dropdown-list li a:hover {
  background-color: #f1f1f1;
}

/* megjelenítés hoverre */
.dropdown:hover .dropdown-list {
  display: block;
}