body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  background-color: #eef2f7;
  color: #1f2933;
}

/* Szolgáltatás kártyák */
.service-card {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

/* Címek */
h1 {
  font-size: 2.2rem;
  font-weight: 700;
  border-bottom: 4px solid #2563eb;
  padding-bottom: 0.6rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}
/*menu */
.custom-navbar {
  background-color: #2c3e50;
  padding: 10px 20px;
}

/* fő menü */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* lenyíló */
.dropdown {
  position: relative;
}

.dropdown > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
}

/* lenyíló lista */
.dropdown-list {
  list-style: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  border-radius: 6px;
  padding: 5px 0;
  margin: 0;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  display: none;
}

/* elemek */
.dropdown-list li a {
  display: block;
  padding: 10px 20px;
  color: #2c3e50;
  text-decoration: none;
}

.dropdown-list li a:hover {
  background-color: #f1f1f1;
}

/* megjelenítés hoverre */
.dropdown:hover .dropdown-list {
  display: block;
}