body {
  background: lightskyblue;
}


.kartya {
  background: white;
  border-radius: 14px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.szakasz {
  margin-top: 18px;
}

.oldalcim {
  margin-bottom: 12px;
}

.bevezeto {
  font-size: 1.15rem;
}


.alcim {
  margin-top: 14px;
  font-size: 1.1rem;
}


.doboz {
  border-radius: 12px;
  padding: 14px;
  margin: 14px 0;
}

.definicio-doboz {
  background: white;
}

.tipp-doboz {
  background: white;
}

.pelda-doboz {
  background: white;
}

.fontos-doboz {
  background: white;
}
/*menu */
.custom-navbar {
  background-color: #2c3e50;
  padding: 10px 20px;
}

/* fő menü */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown > a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px;
}


.dropdown-list {/*lista kinézete*/
  list-style: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  border-radius: 6px;
  padding: 5px 0;
  margin: 0;
  min-width: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  display: none;
}


.dropdown-list li a { 
  display: block;
  padding: 10px 20px;
  color: #2c3e50;
  text-decoration: none;
}

.dropdown-list li a:hover { /*animáció*/
  background-color: #f1f1f1;
}

/* megjelenítés hoverre */
.dropdown:hover .dropdown-list {
  display: block;
}